@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,100&family=Merriweather:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    
}

footer{
    height: 15vh;
    background-color: black;
    color: white;
}
pre{
    font-size: 12px;

}
header{
    height: 56px;
    background-color: #2874f0;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0px 23px;
}
nav ul li a:hover{
    font-weight: bolder;
}
nav ul li{
    list-style: none;

}
.logo img{
    width: 79px;
    /* margin-right: 294px; */
}
nav ul{
    display: flex;
    height: 56px;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    z-index: 1;
}
.container{
    /* min-height: calc(200vh - 56px - 111.6px - 15vh); */
    min-height: 1000px;
    background-color: white;
}
#belowLogo{
    font-style: italic;
    font-size: 11px;
    color: white;
    text-decoration: none;
}
#belowLogo:hover{
    
    text-decoration: underline;
}
#belowLogo #plus{
    color: #ffe500;
}
#belowLogo #plusimg{
    width: 12px;
}
.logoandsearch{
    display: flex;
}

#searchBar{
    margin-left: 15px;
    height: 33px;
    width: 556px;
    padding-left: 10px;
}
#icon{
    width: 35px;
    position: relative;
    top: 7px;
    right: 42px;
}
#icon:hover{
    cursor:pointer;
    
}
.belownav{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    /* background-color: honeydew; */
}
.belownav1:hover{
    color: blue;
}
.belownav2:hover{
    color: blue;
}
.belownav3:hover{
    color: blue;
}
.belownav4:hover{
    color: blue;
}
.belownav5:hover{
    color: blue;
}
.belownav6:hover{
    color: blue;
}
.belownav7:hover{
    color: blue;
}
.belownav8:hover{
    color: blue;
}
.belownav9:hover{
    color: blue;
}
.topOffer,.home , .applience ,.beauty , .grocery ,.mobiles ,.electronics ,.fashion ,.travel{
    display: flex;
    justify-content: center;
}
#topOffer,#home , #applience ,#beauty , #grocery ,#mobiles ,#electronics ,#fashion ,#travel{
    height: 64px;
    width: 64px;
}
#beauty{
    margin: 0px 33px;
}
#electronics{
    margin: 0px 15px;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;

}
#img1{
    width: 99%;
    /* height: 276px; */
}
.upper{
    display: flex;
    justify-content: space-between;
    margin: 19px 8px;
    height: 62px;
    align-items: center;
    padding: 0px 30px;
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
}
.lower{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    font-family: sans-serif;
    cursor: pointer;
    align-items: flex-end;
}
.imgfirst , .imgsecond , .imgthird , .imgfourth{
    margin-bottom: 31px;
}
.first:hover , .second:hover ,.third:hover , .fourth:hover , .fifth:hover , .sixth:hover , .seventh:hover{
    transform: translateX(1px);
}
.problem1{
    padding-left: 16px;
}
.footwear1{
    font-family: sans-serif;
    font-weight: bold;
    
}
.footwear2{
    color: green;
}
.footwear3{
    color: rgb(126, 123, 123);
}
.marginbottom31px{
    margin-bottom: 31px;
}
#six{
    padding-left: 55px;
}
#seven{
    padding-left: 19px;
    padding-bottom: 30px;
}